<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1><%= t "emails.hello" %><%= @user.name %></h1>
    <%= t "emails.bookname" %><%= @request_book.name %>
    <%= t "emails.bookdescription" %><%= @request_book.description %>
    <%= t "emails.requestdate" %><%= @request_book.created_at %>
    <%= t "emails.acceptbook" %>
  </body>
</html>
