<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "follow_form" if user_signed_in? %>
  </div>
</div>
<p><%= link_to t("menus.list_favorite"), book_favorites_path(user_id: @user.id), "data-toggle" => "modal",
remote: true, "data-target" => "#form-modal" %>
</p>
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
