<% provide :title, @book.title %>
<div class="row">
  <aside class="col-md-4">
    <section class="book_info">
      <h1>
        <%= @book.title %>
      </h1>
      <br/><%= t "descriptions.public" %><%= @book.publish_date %>
      <br/><%= t "descriptions.category" %><%= render @categories %>
      <br/><%= t "descriptions.by" %><%= render @authors %>
      <%= render "book_favourite_form", book: @book %>
    </section>
    <section class="review_form">
      <%= render "reviews/review_form", book: @book %>
    </section>
  </aside>
  <div class="col-md-4">
    <%= render "book_state_form", book: @book %>
  </div>
  <div class="col-md-8">
    <h3><%= t "titles.review" %></h3>
    <ul class = "reviews">
      <%= render @reviews %>
    </ul>
  <%= will_paginate @reviews %>
  </div>
</div>
