<% provide :title, @book.title %>
<div class="jumbotron">
  <div class="row">
    <aside class="col-md-4">
      <section class="book_info">
        <h2>
          <%= @book.title %>
        </h2>
        <br/><%= t "descriptions.public" %><%= @book.publish_date %>
        <br/><%= t "descriptions.category" %><%= render @categories %>
        <br/><%= t "descriptions.by" %><%= render @authors %>
      </section>
    </aside>
    <aside class="col-md-8">
      <h1><%= t "titles.review" %></h1>
      <%= render @reviews %>
      <%= will_paginate @reviews %>
    </aside>
  </div>
</div>
