<li class="review-list">
  <%= gravatar_for review.user %>
  <span class="user"><%= review.user.name %></span></br>
  <div class="rate_show" data-score=<%= review.rate %>></div>
  <div>
    <span class="content"><%= review.review %></span></br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(review.created_at) %> ago.
      <% if review.user == current_user %>
        <%= link_to t("link.edit"), edit_review_path(review) %>
        <%= link_to t("link.delete"), review, method: :delete,
          data: { confirm: t("news.sure") } %>
      <% end %>
    </span>
  </div>
<li>
