<h1><%= t "headers.rev_edit" %></h1>
<div class="form-area col-md-4 col-md-offset-4">
  <%= form_for @review do |f| %>
    <div class="form-group">
      <%= render "shared/error_messages", object: f.object %>
      <div class="field">
        <%= f.text_area :review, class: "form-control" %>
      </div>
        <%= f.submit t("buttons.update"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
